* { margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 0 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
}

h1 {
    display: flex;    
    align-items: center;      
    justify-content: center;
    width: auto;
    height: 40px;
    margin-top: 20px;
    font-size:large;
    text-align: center;
    background-color: #d3d3d3;
    border-radius: 10px;
}

form {
    text-align: left;
    display: block;
    margin: auto;
    
}
 
input, select, fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input:focus, select:focus {
    border-color: #3498db
}



.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.form-row div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

#fone {
    width: 200px;
    flex: none;
}

#aniversario {
    width: 120px;
    flex: none;
}

#sexo {
    width: 50px;
    flex: none;
}

#cep, #cidade {
    width: 150px;
    flex: none;
}

#rua {
    width: 400px;
    flex: none;
}

#numero {
    width: 90px;
    flex: none;
}

#saveClient {
    background-color: #d3d3d3;
    border: 2px solid #a3a3a3;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 600px;
}

