* { margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
    margin: 0;
}

.container{
    width: 95%;          
    max-width: 850px;    
    margin: 0px auto;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;    
    align-items: center;      
    justify-content: center;
    width: auto;
    height: 40px;
    margin-top: 20px;
    font-size:large;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    color: #555;
}

form {
    text-align: left;
    display: block;
    margin: auto;
    
}
 
input, select {
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
    height: 30px;
    font-size: 14px;
    color: 555;
    width: 100%; 
    box-sizing: border-box;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    color: #444;

}

input:focus, select:focus {
    border-color: #3498db
}



.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.form-row div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

legend {
    margin: 0 auto;
    padding: 0 10px;
    color: #555;
    font-weight: bold;
}

#fone {
    width: 200px;
    flex: none;
}

.toggle-container {
    flex: none !important;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;
}

.switch input {display: none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
}

.slider::before{
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
}

input:checked + .slider { background-color: #2196F3;}
input:checked + .slider::before {transform: translateX(26px);}

#aniversario {
    width: 120px;
    flex: none;
}

#sexo {
    width: 200px;
    flex: none;
}

#cep, #cidade {
    width: 150px;
    flex: none;
}

#rua {
    width: 400px;
    flex: none;
}

#numero {
    width: 90px;
    flex: none;
}

#saveClient {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: block;
    margin: 30px auto;
    background-color: #0084ff;
    border: 2px solid #0084ff;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #ddd;
    width: fit-content;
    min-width: 200px;
}

@media (max-width: 650px) {
       .form-row {
        flex-direction: column !important; 
        gap: 10px !important;
    }

   
    input, select, #fone, #cep, #rua, #numero, #sexo, #aniversario {
        width: 100% !important;
        flex: none !important;
    }

    
    h1 {
        font-size: 1.2rem;
    }

    #saveClient {
        width: 100%;
        margin-left: 0 !important; 
    }
}